{% extends 'headerfooter.html' %}
{% block content %}
{% load static  %}
<link rel="stylesheet" href="{% static 'css/reg.css' %}">
{{ data.message }}
<section>
    <form action="/doreg/" method=post>
        <tr><td align="center" height="20px">
            <small>Звёздочкой отмечены обязательные поля</small>
            <table border="0" width="80%" align="right">
                <tr height="20px"></tr>
                <tr><td align="right" width="40%"><i>Фамилия: </i></td>
                    <td><input tipe=text name=familiya value="{{data.familiya}}">*</td></tr>
                <tr><td align="right"><i>Имя: </i></td>
                    <td><input tipe=text name=imya value="{{data.imya}}">*</td></tr>
                <tr><td align="right"><i>Адрес: </i></td>
                    <td><input tipe=text name=adres value="{{data.adres}}">*</td></tr>
                <tr><td align="right"><i>E-mail: </i></td>
                    <td><input tipe=text name=mail value="{{data.mail}}">*</td></tr>
                <tr><td align="right"><i>Номер для связи: </i></td>
                    <td><input tipe=text name=phone value="{{data.phone}}">*</td></tr>
                <tr><td align="right"><i>Логин: </i></td>
                    <td><input tipe=text name=login_cust value="{{data.login_cust}}">*</td></tr>
                <tr><td align="right"><i>Пароль: </i></td>
                    <td><input tipe=text name=parol value="{{data.parol}}">*</td></tr>
                <tr><td align="right"><i>Подтверждение пароля: </i></td>
                    <td><input tipe=text name=parol2 value="{{data.parol2}}">*</td></tr>
                <tr><td></td>
                    <td><input type="checkbox" value="1" name="podpiska" {% if data.podpiska == 1 %} checked {% endif %}>
                    <i>Подписаться на рассылку новостей</i></td></tr>
                <input type=hidden value="1" name=type>
                <tr><td align="right"></td>
                    <td><input type=submit value="ОТПРАВИТЬ"></td></tr>
                    <tr height="20px"></tr>
            </table>
            </td></tr>
</form>
</section>

{% endblock %}